{% extends 'blog/base_line.html' %}
{% load static %}

{% block css%}
<link href="{% static 'awakening/css/style.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
{% endblock %}

{% block javascript %}
<script src="{% static 'awakening/js/dialog.js' %}"></script>
<script src="{% static 'awakening/js/update.js' %}"></script>
{% endblock %}

{% block content%}

<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            {{ user.first_name }} {{user.last_name}}
        </a>
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-warning" type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <a href="{% url 'logout' %}"><button class="btn btn-outline-warning" type="button" id="logout">Logout</button></a>
</nav>



<div class="container_body">

    <!-- displays message alerts sent from user/register when input submitted -->
    <div class="container-message">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif%}
    </div>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="h5">@{{ user.username }}</div>
                        <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
                        <div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java,
                            Node.js,
                            etc.
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5">5.2342</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5">6758</div>
                        </li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 gedf-main">

                <!--WRITE POST END -->
                <div class="card gedf-card">
                    <button type="button" class="btn btn-primary js-create-post">
                        <span class="glyphicon glyphicon-plus" data="{% url 'new_post' %}"></span>
                        Add New Post
                    </button>
                </div>
                <!--WRITE POST END -->

                <!--- \\\\\\\Post Start-->

                {% for p in posts %}
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">@{{ p.author.username }}</div>
                                    <div class="h7 text-muted">{{ p.author.first_name }} {{ p.author.last_name}}</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>


                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">


                                        <div class="h6 dropdown-header">Configuration</div>
                                        {% if user.pk == p.author.pk %}

                                        <!-- Button trigger modal -->
                                        <a class="dropdown-item js-update-post" data-url="{% url 'edit_post' p.pk %}">Edit</a>

                                        <a class="dropdown-item" href="#">Delete</a>
                                        {% else %}
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ p.date_posted | timesince }}
                        </div>
                        <a class="card-link" href="#">
                            <h5 class="card-title">{{ p.title }}</h5>
                        </a>

                        <p class="card-text">
                            {{ p.content }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                </div>




                {% endfor %}
                <!-- post end -->
            </div>



            <!--RIGHT CARD SIDEBARS-->
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Latest</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ latest.title }}</h6>
                        <p class="card-text">{{ latest.content }}</p>
                        <a href="#" class="card-link">Comment</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Popular</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <!--RIGHT CARD SIDEBARS-->

        </div>
    </div>
</div>

<!--MODAL START CREATING NEW VIEWS-->
<div class="modal fade" id="modal-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--MODAL START UPDATING VIEWS-->
<div class="modal-div">
    <div class="modal fade" id="myEdit" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
        </div>
        <!--MODAL END -->

        {% endblock %}